h2{
    color: whitesmoke;
}

.login-card {
    max-width: 400px;
    position: relative;
    margin-top:20vh;
    margin-left:33vw;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:black;
    border-style: solid;
    border-radius: 10px;
    border-color: red;
    text-align: center;
  }
  
  .input-field {
    width: 80%;
    position: relative;
    margin-bottom: 10px;
    color:white;
    /* padding: 10px; */
    height: 33px;
    padding-right: 1px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: black;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color:blue;
    border-style: solid;
    border-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .social-login {
    margin-top: 20px;
  }
  
  .social-login button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .social-login button i {
    margin-right: 10px;
  }
  
  .social-login button.google-btn {
    border-color: #dd4b39;
    color: #dd4b39;
  }
  
  .social-login button.twitter-btn {
    border-color: #1da1f2;
    color: #1da1f2;
  }
  
  .social-login button:hover {
    background-color: #f5f5f5;
  }
  ::placeholder{
    color: whitesmoke;
    text-align: center;
  }
  