.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin-top:20vh;
    margin-left: 33vw;
    padding: 20px;

  }
  
  .textarea {
    width: 70%;
    height: 200px;
    resize: vertical;
    background-color: black;
    border:3px;
    border-style: solid;
    border-radius: 7px;
    border-color: red;
    color: white;
  }
  ::placeholder{
    /* text-align: center; */
    text-decoration: solid;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-weight: 1000; */
    color: aliceblue;
   }
  .button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: red;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: green;
  }
  .result.positive{
    display: inline-block;
    position: relative;
    color: azure;
    font-size: large;
    margin-left: 43vw;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: green;
  }
  
  .result.negative{
    display: inline-block;
    position: relative;
    color: azure;
    font-size: large;
    margin-left: 43vw;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-radius: 5px;
    background-color: red;
  }